* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:  1000px;
}

.header {
    width: 300px;
    margin: 5vh auto;
    text-align: center;

}
.stopwatch {
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: #1E90FF 2px dashed;
}

.stopwatch__display {
    font-size: 36px;
}

.stopwatch__btns {
    margin-top: 20px;
}

.stopwatch__start {
  background-image: url("assets/img/play.png");
}
.stopwatch__pause {
  background-image: url("assets/img/pause.png");
}
.stopwatch__reset {
  background-image: url("assets/img/reset.png");
}
.stopwatch__lap {
  background-image: url("assets/img/stopwatch.png");
}

button {
  width: 50px;
  height: 50px;
  background-color: #1E90FF;
  border: none;
  cursor: pointer;
}
button:hover {
    background-color: #00BFFF;
}
button:active {
    background-color: #87CEFA;
}

.stopwatch__circle-time {
 margin-top: 20px;   
 padding: 16px;
 font-size: 20px;
 display: flex;
 flex-direction: column-reverse;
}
.stopwatch__circle-time li {
    margin-left: 20px;
}

.stopwatch__circle-time li::marker {
    color: #1E90FF;
}

.add-new-stopwatch {
  cursor: pointer;
  opacity: 0.4;
  transition: opacity 0.2s ease-in;
}
.add-new-stopwatch:hover {
  opacity: 1;
}

.add-new-stopwatch__plus {
  margin: auto;
  font-size: 160px;
  font-weight: 100;
  
}